
@{
    ViewBag.Title = "Подопечные БФ";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div id="root"></div>

@section Scripts{ 
    <script type="module" src="js/wardsrenderer.jsx"></script>
}

