@charset "UTF-8";

html,
body {
    height: 100%
}

.login-body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 140px;
    padding-bottom: 40px;
}

.logo-img-header {
    width: 60%;
}

.logo-img {
    width: 100%;
}