@charset "UTF-8";

body {
    font-family: 'Circular Std Book';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #71748d;
    background-color: #efeff6;
    -webkit-font-smoothing: antialiased;
}

/* -----------------------
2.2  Buttons
-------------------------*/

.btn {
    font-size: 14px;
    padding: 9px 16px;
    border-radius: 2px
}

/*--- btn default --*/

/*--- btn primary --*/

.btn-primary {
    color: #fff;
    background-color: #5969ff;
    border-color: #5969ff
}

.btn-primary:hover {
    color: #fff;
    background-color: #4656e9;
    border-color: #4656e9
}

.btn-primary.focus,
.btn-primary:focus {
    color: #fff;
    background-color: #4656e9;
    border-color: #4656e9;
    box-shadow: 0 0 0 1px rgb(37, 52, 158)
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgb(37, 52, 158)
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #4656e9;
    border-color: #4656e9
}

/*--- btn size --*/

.btn-xs {
    padding: 4px 10px;
    font-size: 12px
}

.btn-sm {
    padding: 5px 12px;
    font-size: 14px
}

.btn-lg {
    padding: 11px 20px;
    font-size: 15px
}

/* -----------------------
2.3  Cards
-------------------------*/

.card {
    margin-bottom: 30px;
    border: none;
    -webkit-box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
    -moz-box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
    box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22)
}

.card-header {
    background-color: #fff;
    border-bottom: 1px solid #e6e6f2
}

.card-title {
}

.card-subtitle {
    font-size: 14px
}

.card-body {
}

.card-text {
}

.card-footer {
    border-top: 1px solid #e6e6f2;
    background: #f6f6ff
}

.card-link {
}

.toolbar {
    font-size: 18px
}

.card-header-title {
    margin: 0;
    line-height: 2
}

.card-toolbar-tabs {
}

.card-toolbar-tabs .nav.nav-pills {
}

.card-toolbar-tabs .nav.nav-pills .nav-item {
}

.card-toolbar-tabs .nav.nav-pills .nav-item .nav-link {
    font-size: 14px;
    padding: 6px 10px
}

.card-toolbar-tabs .nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #5969ff;
    background-color: transparent
}

/*--------------------
 Form
---------------------*/

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-size: 15px;
    color: #71748d
}

.form-control {
    display: block;
    width: 100%;
    font-size: 14px;
    line-height: 1.42857143;
    color: #71748d;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d2d2e4;
    border-radius: 2px
}

.form-control:focus {
    color: #71748d;
    background-color: #fff;
    border-color: #a7a7f0;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(214, 214, 255, .75)
}

input[type=file] {
    color: #71748d;
    background-color: #fff;
    border-color: #a7a7f0;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(214, 214, 255, .75)
}

.col-form-label {
    font-size: 15px
}

input {
}

button {
}

button:focus {
    outline: 0
}

select.form-control {
    color: #71748d;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-position: 99% 52%;
    background-size: auto;
    background-repeat: no-repeat;
    background-image: url(/images/down-arrow.png);
    padding-right: 15px;
    border: 1px solid #d2d2e4;
    border-radius: 2px
}

textarea.form-control {
    height: auto;
    color: #71748d;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d2d2e4;
    border-radius: 2px;
    padding: 12px 16px
}

input::-webkit-input-placeholder {
    color: #71748d !important
}

input:focus::-webkit-input-placeholder {
    color: #5969ff !important
}

textarea::-webkit-input-placeholder {
    color: #71748d !important
}

textarea:focus::-webkit-input-placeholder {
    color: #5969ff !important
}

button.btn {
}

button.btn-default {
}

button.btn-primary {
}

address {
}

.form-group {
    margin-bottom: 12px
}

.form-control-lg {
    padding: 12px
}


/* Custom-Chekbox
-------------------------------------------------------------- */

.custom-control {
    position: relative;
    min-height: 1.5rem;
    padding-left: 1.5rem
}

.custom-control-input:checked ~ input[type="checkbox"] {
    background: #3d404e;
    border: #7f83a2 1px solid
}

.custom-control-input {
    position: absolute;
    z-index: -1;
    opacity: 0
}

.custom-control-label {
    margin-bottom: 0
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #5969ff;
    border-color: #5969ff
}

.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    background-color: #5969ff
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
}

.custom-control-label::after {
    position: absolute;
    top: 7px;
    left: 0;
    display: block;
    width: 1rem;
    height: 1rem;
    content: "";
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%
}

.custom-control-label::before {
    position: absolute;
    top: 7px;
    left: 0;
    display: block;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    content: "";
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #ffffff;
    border: 2px solid #d2d2e4
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #5969ff;
    border-color: #5969ff
}

.custom-control-input:disabled ~ .custom-control-label::before {
    background-color: #efeff6
}

.custom-select-font-size {
    font-size: 14px
}

.custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: none
}

.custom-valid.custom-control-input.is-valid:checked ~ .custom-control-label::before,
.was-validated .custom-control-input:valid:checked ~ .custom-control-label::before {
    background-color: #34ce57;
    border-color: #34ce57
}

.custom-control-input.is-invalid ~ .custom-control-label::before,
.was-validated .custom-control-input:invalid ~ .custom-control-label::before {
    background-color: #ffdadd;
    border-color: #efa2a9
}

.custom-control-input:disabled ~ .custom-control-label {
    color: #9295b0
}

.custom-control-input.is-valid ~ .custom-control-label::before,
.was-validated .custom-control-input:valid ~ .custom-control-label::before {
    background-color: #c6ffd3;
    border: 2px solid #68df83
}

.input-group-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #75748d;
    text-align: center;
    white-space: nowrap;
    background-color: #efeff6;
    border: 1px solid #d2d2e4;
    border-radius: 4px
}

.section-block {
    margin: 16px 0px
}

.section-title {
    font-weight: 500;
    margin-bottom: 5px
}

/*-----------------------
Splash Container / Wrapper
-------------------------*/

.splash-container {
    width: 100%;
    max-width: 375px;
    padding: 15px;
    margin: auto
}

    .splash-container .card-header {
        padding: 20px
    }

.splash-description {
    text-align: center;
    display: block;
    line-height: 15px;
    font-size: 2rem;
    margin-top: 5px;
    padding-bottom: 5px
}

.splash-title {
    text-align: center;
    display: block;
    font-size: 14px;
    font-weight: 300
}

.splash-container .card-footer-item {
    padding: 12px 28px
}

.custom-color-red.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #a40000;
    border-color: #a40000
}

.custom-color-blue.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #0d4197;
    border-color: #0d4197
}

.custom-color-yellow.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #ffdc40;
    border-color: #ffdc40
}

.custom-color-black.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #111111;
    border-color: #111111
}

.custom-control-label {
    position: static;
    display: inline-block;
    line-height: 2
}

/* -------------------- 0.7.Footer ----------------------- */


/*-----------------------
 Footer
-------------------------*/

.footer {
    border-top: 1px solid rgba(152, 166, 173, .2);
    padding: 14px 30px 14px;
    color: #71748d;
    background-color: #fff;
    width: 100%
}

.footer-link {
}

.footer .footer-link a {
    color: #71748d;
    margin-left: 1.5rem;
    -webkit-transition: all .4s;
    transition: all .4s
}

.card-footer-item {
    padding: 12px 35px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
    display: inline-block
}

.card-footer-item-bordered:not(:last-child) {
    border-right: 1px solid rgb(230, 230, 242)
}

a {
    color: #71748d
}

a:hover {
    color: #ff407b;
    text-decoration: none
}

a:active,
a:hover {
    outline: 0;
    text-decoration: none
}
