################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
bin/
obj/
/DevFactoryZ.CharityCRM/Account.cs
/DevFactoryZ.CharityCRM/Persistence/IAccountRepository.cs
